/* line 1, ../sass/components.scss */
.backgroundImage {
  background-image: url("../img/pokemonStadium.png");
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 12, ../sass/components.scss */
.boxGrid {
  height: 100%;
}

/* line 16, ../sass/components.scss */
.box {
  background-color: rgba(255, 255, 255, 0.5);
  height: 50%;
  vertical-align: top;
}

/* line 21, ../sass/components.scss */
.box-1 {
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 25, ../sass/components.scss */
.pokemonForm {
  padding-top: 50%;
}

/* line 29, ../sass/components.scss */
.sprite {
  width: 25vh;
  height: 25vh;
}
