/* line 1, ../sass/components.scss */
.backgroundImage {
  background-image: url("../img/pokemonStadium.png");
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 12, ../sass/components.scss */
.boxGrid {
  padding-top: 10%;
  height: 100%;
}

/* line 17, ../sass/components.scss */
.box {
  background-color: rgba(255, 255, 255, 0.5);
  height: 50%;
}

/* line 22, ../sass/components.scss */
.box-1 {
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 26, ../sass/components.scss */
.pokemonForm {
  padding-top: 50%;
}

/* line 30, ../sass/components.scss */
.sprite {
  border: 0;
  cursor: pointer;
  width: 25vh;
  height: 25vh;
}
