/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/***
 *     __      __        _       _     _
 *     \ \    / /       (_)     | |   | |
 *      \ \  / /_ _ _ __ _  __ _| |__ | | ___  ___
 *       \ \/ / _` | '__| |/ _` | '_ \| |/ _ \/ __|
 *        \  / (_| | |  | | (_| | |_) | |  __/\__ \
 *         \/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
 *
 *
 */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/components.scss */
.backgroundImage {
  background-image: url("../img/pokemonStadium.png");
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 12, ../sass/components.scss */
.boxGrid {
  padding-top: 10%;
  height: 100%;
}

/* line 17, ../sass/components.scss */
.box {
  background-color: rgba(255, 255, 255, 0.5);
  height: 50%;
}

/* line 22, ../sass/components.scss */
.box-1 {
  background-color: rgba(255, 255, 255, 0.8);
}

/* line 26, ../sass/components.scss */
.pokemonForm {
  padding-top: 50%;
}

/* line 30, ../sass/components.scss */
.sprite {
  border: 0;
  cursor: pointer;
  width: 25vh;
  height: 25vh;
}

/***
 *      _    _                _ _
 *     | |  | |              | (_)
 *     | |__| | ___  __ _  __| |_ _ __   __ _ ___
 *     |  __  |/ _ \/ _` |/ _` | | '_ \ / _` / __|
 *     | |  | |  __/ (_| | (_| | | | | | (_| \__ \
 *     |_|  |_|\___|\__,_|\__,_|_|_| |_|\__, |___/
 *                                       __/ |
 *                                      |___/
 */
@font-face {
  font-family: 'pokemonFont';
  src: URL("../fonts/PKMN RBYGSC 3.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 18, ../sass/headings.scss */
h1, h2, h3, h4, h5, p {
  padding-bottom: 0.5em 1.2em;
  text-decoration: none;
  text-align: left;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  font-family: 'pokemonFont';
}
/* line 29, ../sass/headings.scss */
h1.title, h2.title, h3.title, h4.title, h5.title, p.title {
  font-weight: 400;
  padding-top: 2.5%;
  text-align: center;
  color: #ffd733;
}
/* line 36, ../sass/headings.scss */
h1.redTitle, h2.redTitle, h3.redTitle, h4.redTitle, h5.redTitle, p.redTitle {
  font-weight: 400;
  text-align: center;
  color: #ff1111;
}

/* line 43, ../sass/headings.scss */
h1 {
  font-size: 42px;
  color: #444444;
}

/* line 49, ../sass/headings.scss */
h2 {
  font-size: 32px;
  padding-bottom: 2.5%;
  color: #444444;
}

/* line 56, ../sass/headings.scss */
h3 {
  color: #444444;
  padding-bottom: 2.5%;
  font-size: 22px;
}

/* line 63, ../sass/headings.scss */
h4 {
  color: #444444;
  font-size: 12px;
}

/* line 69, ../sass/headings.scss */
h5 {
  color: #444444;
  font-size: 7px;
}

/* line 75, ../sass/headings.scss */
p {
  padding-top: 3%;
  padding-bottom: 3%;
  color: #444444;
  font-size: 18px;
}
