.backgroundImage {

  background-image: url('../img/pokemonStadium.png');
  /* Full height */
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.boxGrid {
  padding-top: 10%;
  height: 100%;
}

.box {
  background-color: rgba(255,255,255,0.5);
  height: 50%;

}
.box-1{
  background-color: rgba(255,255,255,0.8);

}
.pokemonForm{
  padding-top: 50%;
}

.sprite {
 border:0;
 cursor: pointer;
  width: 25vh;
  height: 25vh;
}
