/***
 *      _    _                _ _
 *     | |  | |              | (_)
 *     | |__| | ___  __ _  __| |_ _ __   __ _ ___
 *     |  __  |/ _ \/ _` |/ _` | | '_ \ / _` / __|
 *     | |  | |  __/ (_| | (_| | | | | | (_| \__ \
 *     |_|  |_|\___|\__,_|\__,_|_|_| |_|\__, |___/
 *                                       __/ |
 *                                      |___/
 */
@font-face {
  font-family: 'pokemonFont';
  src: URL('../fonts/PKMN RBYGSC 3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

%textBasicProperties {
  padding-bottom: 0.5em 1.2em;
  text-decoration: none;
  text-align: left;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  font-family: 'pokemonFont';

  &.title {
    font-weight: 400;
    padding-top: 2.5%;
    text-align: center;
    color: $mainColor;
  }

  &.redTitle {
    font-weight: 400;
    text-align: center;
    color: $redTitle;
  }
}

h1 {
  font-size: 42px;
  @extend %textBasicProperties;
  color: $secondaryColor;
}

h2 {
  font-size: 32px;
  padding-bottom: 2.5%;
  color: $secondaryColor;
  @extend %textBasicProperties;
}

h3 {
  color: $secondaryColor;
  padding-bottom: 2.5%;
  font-size: 22px;
  @extend %textBasicProperties;
}

h4 {
  color: $secondaryColor;
  font-size: 12px;
  @extend %textBasicProperties;
}

h5 {
  color: $secondaryColor;
  font-size: 7px;
  @extend %textBasicProperties;
}

p {
  padding-top: 3%;
  padding-bottom: 3%;
  color: $secondaryColor;
  font-size: 18px;
  @extend %textBasicProperties;
}
