/***
 *     __      __        _       _     _
 *     \ \    / /       (_)     | |   | |
 *      \ \  / /_ _ _ __ _  __ _| |__ | | ___  ___
 *       \ \/ / _` | '__| |/ _` | '_ \| |/ _ \/ __|
 *        \  / (_| | |  | | (_| | |_) | |  __/\__ \
 *         \/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
 *
 *
 */

$backgroundColor : #F2F2F2;
$backgroundDarkContrastColor : #C3C3C3;
$mainColor : #CC3333;
$secondaryColor : #575757;
$borderColor : #FFFFFF;
